* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}


#left-side {
    display: inline-block;
    background-color: #1d1f20;
    width: 50%;
    height: 662px;
    float: left;
    color: #EEE;
    max-width: 80%;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Tahoma;
    word-wrap: break-word
}

#navarea, #contentarea, #footerarea {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 30px;
}

#bar {
    display: inline-block;
    background-color: #444;
    width: 1%;
    height: 662px;
    float: left
}

#right-side {
    display: inline-block;
    background-color: #FFF;
    color: #444;
    width: 49%;
    height: 662px;
    float: left
}
#right-side nav ul {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #1CB5E0;
    color: #000046;
    font-weight: 600
}
#right-side nav ul li {
    list-style: none;
    float: left;
    padding: 14px 18px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
#right-side nav ul li:hover {
    color: #FFF
}


/**********************/

#content {
    margin-bottom: 0
}

#content img {
    width: 100%;
    height: 550px;
    background-size: cover;
}

/*********************/

#footer {
    margin-top: -5px;
    background-color: #333;
    width: 100%;
    height: 63px;
    text-align: center;
    display: block;
}
#footer ul {
    display: block;
    margin-left: 197px;
    padding-top: 10px
}
#footer ul li {
    list-style: none;
    float: left;
    margin-left: 5px;
    font-size: 23px;
    padding: 10px;
    cursor: pointer;
    color: #EEE;
}

#footer ul li i {
    transition: all .2s ease-in-out;
}
#footer ul li i:hover {
    transform: scale(1.2)
}
.fa-facebook-square:hover {
    color: 	#3b5998;
}
.fa-twitter-square:hover {
    color: 	#00aced
}
.fa-linkedin-square:hover {
    color: 	#F00
}
.fa-behance-square:hover {
    color: 	#3496FF
}

/*********************************************************************************************************************/





